#logo {
 height: 25px;
 width: 10px;
}

#Spain {
height: 50px;
}


.carousel img{
height: 300px;
width: 400px !important;

}

.carousel img{
height: 300px;
width: 400px !important;
}

.carousel img {
height: 300px;
width: 400px !important;
}
